/*Style de index.html*/

:root {
   --cor-primaria: #674188;
   --cor-secundaria: #F7EFE5;
   --cor-terciaria: #fff;


}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--cor-terciaria);
    height: 15vh;
}

.header_info {
    list-style: none;
    display: flex;
}

.header_info li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.container {
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-primaria);
}

.container_p {
    color: black;
    padding: 5% 0% 0% 0%;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 5% 0% 0% 0%;
    color: var(--cor-primaria);
}

